Empty arrays are false: {{^empty-array}}Yes{{/}}{{#empty-array}}No{{/}}
Empty objects are false: {{^empty-object}}Yes{{/}}{{#empty-object}}No{{/}}
Empty strings are false: {{^empty-string}}Yes{{/}}{{#empty-string}}No{{/}}
Null is false: {{^null}}Yes{{/}}{{#null}}No{{/}}
Undefined is false {{^undefined}}Yes{{/}}{{#null}}No{{/}}
